<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="CSS/styles.css"> <!--whenever we add style to a css folder it is ignored by express , as only the app.js and views folder are used by express rest all are ignored so we need to serve the stylesheet through app,js -->
    <!-- so it is general convention to inorder to serve files like html , css , js which are ignored by express we create public folder which we can serve up in app.js-->
</head>