<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="CSS/styles.css"> <!--whenever we add style to a css folder it is ignored by express , as only the app.js and views folder are used by express rest all are ignored so we need to serve the stylesheet through app,js -->
    <!-- so it is general convention to inorder to serve files like html , css , js which are ignored by express we create public folder which we can serve up in app.js-->
</head>
<body>
      <!-- here before we need to send the current day to complete the code to do this we add a ejs marker-->
    <!-- we use 'Scriptlet' tag, for control-flow, no output     ..i.e add if else statements in the ejs file-->
    <!-- we need to add the scriplet tag at places only which are not html 
    we need to add scriplet tag to each line of javascript-->

    <div class="box" id="heading">
        <h1> <%= listTitle%></h1>
    </div>

    <div class="box">
            <% for(var i=0;i<newListItem.length; i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItem[i]%></p>
            </div>
        
             <%}%>
             <form class="item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>



</body>
</html>