<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>
<body>
    <h1>It's a <%= kindofday%>!</h1>  <!-- here before we need to send the current day to complete the code to do this we add a ejs marker-->
</body>
</html>